body{
    background-color: orange;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    max-width: 1200px;
    margin: 0 auto 30px auto;
}

#fighterz .wrapper{
    grid-template-areas: "right left";
}

img {
    position: relative;
    border: solid 2px black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.logo{
    border: none;
}

.left {
    grid-area: left;
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.left img {
    max-width: 350px;
    
    
}

.right {
    grid-area: right;
    max-width: 400px;
}

.right img{
    max-width: 400px
}

.right h2{
    color: gray;
    font-size: 23px;
    margin-top: -10px;
}

.right h3 {
    font-size: 35px;
    margin-top: -10px;
    margin-bottom: -10px
}

h1{
    background-color: yellow;
    background-size: 300px;
    max-width: 700px
}

@media screen and (max-width: 760px) {
    #wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "left"
            "right";
        margin: 0 auto;
    }
}

